body {
  background: #181818;
}
.navbar img {
  position: relative;
  left: 350px;
}
#navbarNav {
  color: white;
}
.nav-link::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: white;
  display: block;
  position: relative;
  bottom: -30px;
  opacity: 0;
  transition: all 0.2s;
  pointer-events: none;
}

.nav-link:hover::after {
  opacity: 1;
}

.hero {
  position: relative;

  width: 120%;
  height: 100vh;
  overflow: hidden;
}
.back-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.lambo-line {
  font-family: sans-serif;
  font-size: 70px;
  font-weight: bold;
  font-style: oblique;
  top: 500px;
  height: 40px;
  opacity: 0;
  position: relative;
  animation: mymove 5s;
  animation-delay: 1s; /* Initial delay if needed */
  animation-fill-mode: forwards;
}

@keyframes mymove {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  90% {
    transform: translateX(150px);
    opacity: 1;
  }
  100% {
    transform: translateX(50px);
    opacity: 1;
  }
}

.card-contanier {
  justify-content: space-between;
  padding: 0 20px;
}



.card-box {
  padding: 7%;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}
.container {
  padding: 2rem;
}

.slider-wrapper {
  position: relative;
  max-width: 70vw;
  margin: 0 auto;
  box-shadow: 10px 10px dark;
}

.slider {
  display: flex;
  aspect-ratio: 16/9;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  border-radius: 10px;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: relative;
  bottom: 1.2rem;
  left: 50%;
  display: flex;
  justify-content: center;
  transform: translateX(-50%);
  /* z-index: 1; */
}
.slider::-webkit-scrollbar {
  display: none; /* Hides scrollbar in Chrome, Safari, and Edge */
}

.slider-nav a {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  opacity: 1;
  transition: opacity ease 250ms;
}

.slider-nav a:hover {
  opacity: 1;
}

.dealer {
  width: 100%;
  height: 40vh;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.dealer-section {
  display: flex;
  justify-content: right;
  color: white;
  font-size: large;
  font-family: sans-serif;
  font-weight: 600;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(41, 33, 33, 0.958420868347339) 29%,
    rgba(125, 122, 118, 1) 67%
  );
}
.dealer-img {
  height: 54vh;
  
  mask-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  -webkit-mask-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
}

.news-heading {
  font-size: 90px;
  font-family: sans-serif;
  font-weight: bolder;
}
.news img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 100px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.news-header {
  width: 70%;
}
.news-content {
  justify-content: space-between;
  padding: 0 !important;
  margin-bottom: 30px;
}
.news-content img {
  width: 100%;
  background-size: cover;
  
}



/* Footer */

footer {
  background-color: #242423;
  color: white;
  
}
.footer-contanier {
  padding: 50px 0 ;
  color: white;
  justify-content: space-between;
  padding-bottom: -30px;
  border-bottom: 1px solid #383838;
  
}
.footer-contanier ul {
  list-style: none;
}
.footer-contanier ul li  {
  padding: 4px;
  font-size: 12;
 
}
.footer-contanier ul li a {
  font-family: sans-serif;
  font-weight: 0;
  color: white;
}
.footer-last {
  padding: 20px 0;
  justify-content: center;
}
.footer-last img {
  padding-left: 5%;
  margin-right: 20px;
}
.footer-last p {
  width: 60%;
  font-size: 12px;
  font-family: sans-serif;
  font-weight: 10 !important;
}
.social-icon img {
  height: 40px;
  margin: 0 10px;
} 

/* Product */
.banner {
  margin-bottom: 100px;
}

.banner img{
  width: 100%;
  height: 90vh;
  background-size: cover;
}

.products-container {
  width: screen;
  height: 55vh;
  display: flex;
  flex-direction: row;
  
  overflow: hidden;
  margin-bottom: 10vh;
}
.product-info {
  align-items: center;
  left: 5%;
  top: 10%;
}


.product-info img {
  
  height: 30px;
  width: 50%;
  margin-bottom: 5%;
}
.product-img {
  height: 70vh;
  right: -50px;
  bottom: -20px;
  position: relative;
  
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
}
.banner2{
  width: screen;
  height: 55vh;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  margin-bottom: 10vh;
}
.banner2 img{
  width: 100%;
  bottom: -70px;
  left: -200px;
  height: 60vh;
  background-size: cover;
}
.banner2-img {
  height: 70vh;
  clip-path: polygon(0 0, 78% 0, 65% 100%, 0 100%);
  position: relative;
}

.banner2-content img{
  width: 50%;
  height: 30px;
  margin-bottom: 7%;
}
.banner2-content p{
  width: 60%;
  top: 10%;
}
.banner2-content a {
  width: 15%;
}

/* contact */

.contact-section {
  height: 57vh;
  width: screen;
  display: flex;
  justify-content: center;
  align-items: end;
  color: white;
  margin-bottom: 50px;
}
.contact-section img {
  height: 100%;
  width: 100%;
  background-size: cover;
  z-index: -1;
  position: absolute;
 

}
.contact-section h1 {
  z-index: 0;
  font-size: 70px;
  align-items: center;

}

/* About */

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-container h4 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 50px;
  
}

.card {
  margin: 0 10px ;
}

.card img{
  height: 200px;
}

.history-img img{
  height: 70vh;
  width: 100%;
  display: flex;
}

.history-content{
  background-color: #181818;
  color: white;
}